.JokingDad {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 8em 0em 8em;
  max-width: 600px;
}

.JokingDad button {
  background-color: #731DD8;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  padding: 0.5em 1em;
  margin: 0 1em;
}

.JokingDad img {
  border-radius: 10%;
  height: auto;
  max-width: 350px;
  width: 100%;
}

.JokingDad p {
  font-size: 2em;
  height: 200px;
}