.JokingDad {
  display: grid;
  grid-template-rows: 3fr 2fr;
  height: 100%;
  max-width: 600px;
  width: 100%;
  overflow: hidden;
  padding: 1em 0em;
}

.JokingDad button {
  background-color: #731DD8;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 1em 2em;
  margin: 0 1em;
}

.JokingDad img {
  border-radius: 10%;
  object-fit: contain;
  max-width: 40%;
}

.JokingDad p {
  font-size: 2em;
}

.JokingDad-row {
  padding: 2em 1em;
}

.JokingDad-highlighted-row {
  background-color: white;
  border-radius: 1%;
  color: #260F26;
  padding: 2em 1em;
}