.App {
  align-items: center;
  background-color: #260F26;
  color: lightgray;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.App-header {
  background-color: #260F26;
  width: 100vw;
}